{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}
 
{% block content %}
   <h1>All news</h1>
   <h3>{{ time_now|date:'d M Y' }}</h3>
   <h3>{{ news|length }} news</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Title</td>
               <td>Date</td>
               <td>Text</td>
           </tr>
           {% for post in news %}
           <tr>
               <td>{{ post.name }}</td>
               <td>{{ post.time|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>No news to display</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
